{% load static %}{% include './elements/header.html' %}
<div class="container-scroller">
    {% include './elements/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        {% include './elements/settings.html' %}
        {% if user.is_authenticated %}
            {% include './elements/sidebar.html' %}
        <div class="container">
            <div class="row">
                {% include './elements/csvreadsort.html' with maxRow=maxRow %}
            </div>
            <div class"row">Total rows:{{totalRows}}</div>
            <div class="row">
                <div class="col-11">
                    <div id="csvfileviewer">
                        {{csvfiledata|safe}}
                    </div>
                </div>
                {% comment %} <div class="col-1">
                    <div>Action</div>
                    <button type="button" class="btn btn-outline-secondary" onclick="showUserEditBox('+object['id']+')">Edit</button>
                    <button type="button" class="btn btn-outline-danger" onclick="userDelete('+object['id']+')">Del</button></td>
                </div> {% endcomment %}
                
            </div>

        </div>
        {% endif %}

    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- container-scroller -->
{% include './elements/footer.html' %}