{% load static %}{% include './elements/header.html' %} {% load crispy_forms_tags %}
<div class="container-scroller">
    {% include './elements/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <!-- {% include './elements/settings.html' %} -->

        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <div class="row h-100 d-flex align-items-start mt-5">
            
            <div class="col-md-offset-4 p-5 col-md-5 well">
                <form method="post" action="" autocomplete="on" enctype="multipart/form-data">
                    <h2 class="text-success page-header text-center">User Registration</h2>

                    {% csrf_token %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}"  role="alert" style="margin-top: 2%;">
                        {{ message }}
                    </div>
                    {% endfor %} {% endif %} {{form|crispy}}
                    <div class="d-flex justify-content-around">
                    <button type="submit" class="btn btn-success">Register</button>
                    
                        <a role="button" class="btn btn-primary" href="{% url 'Login'%}">Log In</a>
                    </div>
                </form>
                
            </div>
        </div>

    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% include './elements/footer.html' %}