@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.uploadSection {
    display: -webkit-inline-box;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* min-height: 100vh;    */
    max-width: 200px;
    /* width: 100%; */
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.drag-area {
    width: 150px;
    border: 3px dashed #e0eafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

h3 {
    margin-bottom: 20px;
    font-weight: 500;
}

.drag-area .icon {
    font-size: 50px;
    color: #1683ff;
}

.drag-area .header {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.drag-area .support {
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
}

.drag-area .browsebutton {
    width: 120px;
    overflow: scroll;
    font-size: 20px;
    font-weight: 500;
    color: #1683ff;
    cursor: pointer;
}

.drag-area.active {
    border: 2px solid #86a8ce;
}

.drag-area img {
    width: 182px;
    height: 179px;
    object-fit: cover;
}

.mybtn {
    padding: 5px 5px !important;
    /* display: none !important; */
    position: relative;
    margin: auto;
    width: 67px;
}

.form-popup {
    background: rgb(214, 214, 241);
    /* display: none; */
    width: fit-content;
    border: 3px solid rgb(154, 185, 252);
    padding: 10px;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.well {
    box-shadow: 2px 2px 15px 0px black !important;
    position: absolute;
    /* top: 70%; */
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 50px;
}

.navbar {
    margin-inline-start: auto;
    font-family: times new roman;
    box-shadow: 1px 1px 5px black;
    padding: 5px;
    font-size: large;
}

.navbar-nav>li {
    font-size: large;
    margin: 15px;
}

.navbar .navbar-brand {
    font-size: 21px;
    color: white;
}

.navbar .navbar-brand:hover {
    font-size: 21px;
    color: orange;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: orange;
    font-size: 20px;
}

.color {
    background-color: #154660;
    border-color: #154660;
}

#fileToUpload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

td,
th {
    border-width: 2px !important;
    padding: 2px 5px;
    text-align: center !important;
}


/* view area */

#viewarea {
    display: none;
    background-color: rgb(245, 245, 245);
    border: 1px solid #dfdfb9;
    width: 60%;
    height: 500px;
    border: 2px solid #0a0a08;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.dataframe {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid #000;
}

.dataframe>thead,
tbody {
    margin: 0;
    /* border: 1px solid #000; */
    white-space: nowrap;
    border-top-width: 0px;
}

.dataframe>thead {
    background-color: #52CDFF;
    color: white;
}

#csvfileviewer {
    /* width: 90%; */
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0;
    height: fit-content;
}


/* td, th {

} */

::-webkit-scrollbar {
    display: none;
}